.partners-items{
   margin: 7vw 5vw 5vw 5vw;
    display:flex;
    justify-content: space-between ;
    list-style-type: none;
}

.first-li{
    color: #056088;
    font-size: 1.2vw;
}
.second-li,
.third-li,
.fourth-li,
.fifth-li
{
    font-size: 1.3vw;
    color:rgb(136, 136, 136);
}
@media only screen and (max-width: 578px) {
    .first-li{
        color: #056088;
        font-size: 1.9vw;
    }
    .second-li,
    .third-li,
    .fourth-li,
    .fifth-li
    {
        font-size: 1.8vw;
        color:rgb(136, 136, 136);
    }
}